.custom-swal-title {
    font-size: 1.2em; 
    font-weight:lighter  ;
    color: #423d3d; 
   
  }
  
  .trash-icon{
    color: red;
    width: 1rem;   
    height: auto;
  }
  /* .custom-swal{
    width: ;
  } */