.tableContainer {
  background-color: rgba(44, 99, 103, 0.8);
  display: flex;
    align-items: flex-start;
  height: 100%;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .tableContainer {
    flex-direction: column;
    padding: 1rem;
  }
}

@media (max-width: 320px) {
  .tableContainer {
    flex-direction: column;
    padding: 0.5rem;
  }
}

table {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px rgb(5, 5, 8);
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    margin-left: .5rem;
  margin-right: .5rem;
    @media screen and (max-width: 320px) {
      width: 100%;
      height: auto;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 1.1rem;
  width: max-content;
}

@media screen and (max-width: 768px) {
  table,
  table tbody,
  table tr,
  table th,
  table td {
    width: 100%;
  }

  table tr {
    margin-bottom: 1rem;
  }

  table th,
  table td {
    width: auto;
    height: auto;
    font-size: 0.8rem;
    padding: 0.2rem;
  }
}

@media screen and (max-width: 320px) {
  table,
  table tbody,
  table tr,
  table th,
  table td {
    display: block;
    width: 100%;
  }

  table tr {
    margin-bottom: 1rem;
  }

  table th {
    display: none; /* Oculta los elementos <th> para pantallas pequeñas */
  }

  table td {
    width: auto;
    height: auto;
    font-size: 0.8rem;
    padding: 0.03rem;
    gap: 0.2rem;
  }
}

table th {
  background-color: rgba(56, 58, 58, 0.9);
  font-size: 1.2rem;
}

table tr:nth-child(even) {
  background-color: rgba(90, 89, 95, 0.859);
}

table tr:nth-child(odd) {
  background-color: rgba(90, 89, 95, 0.959);
}

table tr.deleted-doctor {
  text-decoration: line-through;
  color: gray;
}
.formContainerModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 99, 103, 0.6);
  height: 40%;
  width: 40%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .formContainerModal {
    width: 60%;
    height: 100%;
    top:12rem;
  }
}

@media (max-width: 320px) {
  .formContainerModal {
    width: 80%;
    height: 80%;
    border-radius: 20px;
  }
}

.formModal {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
